.message-container {
  height: 159px;
  position: absolute;
  width: 429px;
  top: 35%;
  left: 29%;
  background: white;
  border: 3px solid #a8a3a3d1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  justify-content: center;

  .button-container {
    display: flex;
    button {
      width: 48%;
      margin: 1%;
      padding: 2% 1%;
      background-color: cadetblue;
      font-weight: bold;
      font-size: 1.2rem;
      color: whitesmoke;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
